table {
    width: 100%;
    overflow: auto;
}

img {
    width: 40px;
    height: 76px;
    object-fit: contain;
}

.cart_actions_container {
    bottom: 0;
    width: 100%;
}

.total_price {
    margin-left: 4px;
    font-weight: bold;
}

.cart_actions {
    display: flex;
    flex-direction: column;
}

.header_container {
    display: flex;
    width: 100%;
    text-align: center;
}

.header {
    text-align: center;
    margin-left: auto;
}

.header_button {
    margin-left: auto;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}



.highlited {
    background-color: yellow;
}

.table_container_shop {
    height: 72vh;
}

.table_container_order {
    height: 78vh;
}

.backToShop_button {
    display: flex;
    justify-content: flex-start;
}