table {
    width: 100%;
}

.table_img {
    width: 40px;
    height: 120px;
}

.cart_actions {
    position: absolute;
    bottom: 10px;
}

.header_container {
    display: flex;
    width: 100%;
    text-align: center;
    /* justify-content: center; */
}

.header {
    text-align: center;
    margin-left: auto;
}

.header_button {
    margin-left: auto;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}