table {
    width: 100%;
    overflow: auto;
    height: 100%;
}

.table_img {
    width: 40px;
    height: 120px;
}

.cart_actions {
    position: absolute;
    bottom: 10px;
}

.header_container {
    display: flex;
    width: 100%;
    text-align: center;
}

.header {
    text-align: center;
    margin-left: auto;
}

.header_button {
    margin-left: auto;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

mat-row {
    border: 1px solid #e7e7e7;
    font-weight: bold;
    height: 30px !important;
}

.highlited {
    background-color: yellow;
}

.table_container {
    height: 74vh;
}