.container {
    display: flex;
    flex-direction: row;
}

.cart {
    width: 49vw;
    height: 90vh;
}

.form_container {
    min-width: 49vw;
    height: 90vh;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-top: 7px;
}

