.example-container {
    max-width: 100vw;
    height: 91vh;
    background-color: white;
}

table {
    width: 100%;
    text-align: center !important;
}

.header {
    text-align: center;
}

.example-sidenav-content {
    display: flex;
    height: 90%;
    width: 100%;
    align-items: center;
    flex-direction: column;
    background-color: white;
}

.categories_container {
    transition: top 0.3s;
}

.products_container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.example-sidenav {
    /* height: 100%; */
    width: 30%;
}

.table_img {
    width: 40px;
    height: 120px;
}

.cart_actions {
  position: absolute;
  bottom: 10px;
}




