.example-container {
    max-width: 100vw;
    height: 90vh;
    background-color: white;
}

.header {
    text-align: center;
}

.example-sidenav-content {
    display: flex;
    height: 90%;
    width: 100%;
    align-items: center;
    flex-direction: column;
    background-color: white;
}
.example-sidenav {
    width: 30vw;
    min-width: 503px;
    
}


.products_container {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
