img {
    height: 150px;
    width: 150px;
    object-fit: scale-down;
}

.card {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    width: 260px;
    height: 330px;
    margin: 6px;
    word-break: break-word;
}



.action_container {
    position: absolute;
    bottom: 12px;
}

@media screen and (min-width: 600px) and (max-width: 959px) {
    img {
        width: 90;
        height: 90;
    }
}

@media screen and (max-width: 599px) {
    img {
        width: 70;
        height: 70;
    }
}